#weg-logo{
    height: 80px;
    width: 80px;
}

#card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#btn-enter{
    background-color: #005ca8;
    border-color: #005ca8;
}

#title {
    width: 100%;
    text-align: center;
}

#error {
    color: #DB4E61;
    font-size: 12px;
    font-family: Arial;
}